.section01{padding-top:100px;color:#FFF}
.section01 h1{font-weight: 100;}
.section01 p{margin:20px 0 30px 0}
.section02 .nav{margin-top: 20px;}
.section02 .nav ul{padding: 20px 0;width: 827px;margin: auto;}
.section02 .nav ul li{float: left;margin: 0 25px;padding:0 20px}
.section02 .nav ul li.active{color:#345B5E;position: relative;}
.section02 .nav ul li.active:before{content: "";background: #1B4549; height: 4px;width: 100%;display: inline-block;position: absolute;top: -10px; left: 0;}
.section02 .nav ul:after{clear: both;display: block;content: "";}
.section02 .banner li img{width: 100%;}
