.section01{padding-top:60px;color: #E2E2E2;;background: url(../public/images/B/zxyd-banner01.jpg) no-repeat 50% 50%/100%;width: 100%;height: 330px;position: relative;}
.section01 h1{font-weight: 100;font-family: STSongti-SC-Regular;font-size: 30px;}
.section01 p{padding:10px 15px 20px 15px;width: 850px; margin: auto;}
.section01 .down_icon i{background: url(../public/images/B/down-outline.png) no-repeat 50% 50%;width:30px;height:30px;display: inline-block;margin-top: 20px;}
.section01 .m-position{position: absolute;bottom: 10px;left: 0;right: 0;}
.section01 .btn{font-size: 14px;}
.section01 .menoy{font-family: TimesNewRomanPS-ItalicMT;font-size: 20px;margin: 0 3px;}
.mobilejiage{display: none;background: #FFF;}
.section01 .down_icon i{background: url(../public/images/B/down-outline.png) no-repeat 50% 50%;width:30px;height:30px;display: inline-block;margin-top: 20px;}

.section02{padding: 20px 0 50px 0;}
.section02 ul{width: 900px;margin: 0 auto;}
.section02 ul li{float: left;width: 33.33%;}
.section02 ul li .list{margin: 15px;border: 1px solid #E2E2E2;}
.section02 ul li img{width: 100%;}
.section02 ul li h3{font-family: STSongti-SC-Bold;font-size: 16px;color: #345B5E;}
.section02 ul li p{padding: 10px 0;border-bottom: 1px solid #E2E2E2;font-size: 13px;}
.section02 .shouce{font-size: 13px;padding: 10px 0;}
.section02 .shouce i{background: url(../public/images/B/rightarrow.png) no-repeat 50% 30%/81%;width:20px;height: 20px;vertical-align: bottom;display: inline-block;margin-left: 5px;}
.section02 .zxyd_txt{padding: 10px;color: #345B5E ;}
.section02 .zxyd_txt .btn{background: #637332;padding:2px 60px;}
.section02 .zxyd_txt .btn a{font-size: 14px;color:#FFF}
@media only screen and (max-width: 960px) {
	.section01{padding-top:40px;color:#E2E2E2;background: url(../public/images/B/zxyd-m-banner01.jpg) no-repeat 50% 50%;width: 100%;height:250px;position: relative;}
	.section01 .down_icon i{margin-top: 10px;}
	.section01 p{font-size: 12px;line-height: 20px;max-width: 640px;margin:0 auto;width: auto;}
	.section01 .jiage{display: none;}
	.mobilejiage{display: block;}
	.mobilejiage .menoy{font-family: TimesNewRomanPS-ItalicMT;font-size: 20px;margin-right: 7px;}
	.mobilejiage i{font-size: 14px;font-family: TimesNewRomanPS-ItalicMT;}
	.m-position{position: absolute;bottom: 10px;left: 0;right: 0;}
	.section01 .btn{padding:6px 15px;}
	.mobilejiage{box-shadow: 0 1px 6px 1px rgba(0,0,0,0.10);padding: 10px 0;position: relative;    color: #4a4a4a;}
	.mobilejiage:before{content: "";border-left:1px solid #B7B6B1;opacity: 0.4;width: 2px;position: absolute;top: 17px;z-index: 1111111;height: 40px;display: inline-block;margin-left: -15px;}
	.mobilejiage:after{content: "";border-left:1px solid #B7B6B1;opacity: 0.4;width: 2px;position: absolute;top: 17px;z-index: 1111111;height: 40px;display: inline-block;margin-left: 15px;}
	.section02{background: #FFF;}
	
	.section02 ul{width: auto;margin: 0 auto;}
	.section02 ul li{float: none;width: 100%;}
}