.main .banner{background: url(../public/images/B/tbyh-banner01.jpg) no-repeat 50% 50%/100%;width: 100%;height:300px;color: #E2E2E2;padding-top: 60px;text-align: center;}
.main .banner h1{font-weight: 100;font-family: STSongti-SC-Regular;font-size: 30px;}
.content{background: #FFFFFF;box-shadow: 0 0 4px 1px rgba(0,0,0,0.10);width: 1020px;margin: 0 auto;position: relative;top: -160px;left: 0;right: 0;}
.headtip{text-align: center;}
.headtip span{background: #adbfc0;color: #FFF;padding:5px 10px;fong-size:14px;display:block;}
.content .box h1{font-family: MicrosoftYaHei;font-size: 23px;color: #1B4549;font-weight: 100;text-align: center;margin: 15px 0 20px 0;}
.content .box{padding: 0 100px 60px 100px;}
.content .box p{font-size: 12px;color: #4A4A4A;line-height: 22px;margin: 20px 10px; }
.content .box img{width: 100%;}
.content .box .title{background: #EEEBDA;padding-left: 20px;font-size: 16px;color: #345B5E;line-height: 40px;height: 40px;}
.content .box .margin20 img{width: 250px;vertical-align: bottom;}
.content .box .margin20 ul li{float: left;}
.content .box .margin20 span{display: block;color: #1B4549;font-size: 12px;}
.box .btn{background: #637332;padding:2px 60px;}
.box .btn a{font-size: 14px;color:#FFF}
.box .fr{ padding-top: 4px;}
.box .fr ul li{float: left;margin: 0 10px;}
.box .fr ul li i{width: 30px;height:30px;display:inline-block;}
.box .weibo{background: url(../public/images/B/icon-weibo.png) no-repeat 50% 50%/100%;}
.box .weixin{background: url(../public/images/B/icon-weixin.png) no-repeat 50% 50%/100%;}
.box .facebook{background: url(../public/images/B/icon-facebook.png) no-repeat 50% 50%/100%;}
.box .weibo:hover{background: url(../public/images/B/icon-weibo-hover.png) no-repeat 50% 50%/100%;}
.box .weixin:hover{background: url(../public/images/B/icon-weixin-hover.png) no-repeat 50% 50%/100%;}
.box .facebook:hover{background: url(../public/images/B/icon-facebook-hover.png) no-repeat 50% 50%/100%;}
@media only screen and (max-width: 960px) {
	.main .banner{padding-top:40px;color:#E2E2E2;background: url(../public/images/B/tbyh-m-banner01.jpg) no-repeat 50% 50%;width: 100%;height:250px;position: relative;}
	.main .banner h1{font-weight: 100;font-family: STSongti-SC-Regular;font-size: 30px;}
	.main .banner p{font-size: 12px;line-height: 20px;max-width: 640px;margin:0 auto;width: auto;}
	.content{width: 100%;}
	.content .box{padding: 0 10px 60px 10px;}
	.content .box .fr{ padding-top: 10px;float: none;}
	.content .box .margin20 ul li{float: left; width: 50%;}
	.content .box .margin20 ul li img{width: 100%;}
	.content .box .margin15{margin: 20px 10px;}
	.content .box .margin20 span{line-height: 14px;margin-top: 5px;}
}