html, body, h1, h2, h3, h4, h5, h6, div, ul, li, dl, dt, dd, ol, pre, form, fieldset, input, textarea, p, blockquote, th, td, hr, img, select {
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
}

html, body {
	font-family: 'Microsoft Yahei',  tahoma, arial, 'STSongti-TC-Regular','宋体', '\5b8b\4f53', sans-serif;
	color: #345B5E;
	/*text-shadow: #fff 0 1px 0;*/
}
body{
	font-size: 14px;
	/*background: url(/public/img/bg.jpg) repeat-x #5C5C5C;*/
	background: #F9F8F5;;
	line-height: 25px;
	position: relative;
}
select, input {
	font-weight: inherit;
	color: inherit;
	font-size: 1em;
}

input[type=radio], input[type=checkbox] {
	vertical-align: middle;
}

input:focus, textarea:focus, button:focus, select:focus {
	outline: 0;
	border: 1px solid #ffb128
}

fieldset {
	border: 0
}

ul {
	list-style: none
}

a {
	color: inherit;
	text-decoration: none
}

a:focus {
	outline: 0
}

a:hover {
	cursor: pointer;
}

img {
	border: 0px;
}

/*�������� ���*/
.col:after {
	content: " ";
	display: block;
	clear: both;
}

.col .col1, .col .col2, .col .col3, .col .col4, .col .col5, .col .col6, .col .col7, .col .col8, .col .col9, .col .col10, .col .col11, .col .col12,
.col .col01, .col .col02, .col .col03, .col .col04, .col .col05, .col .col06, .col .col07, .col .col08, .col .col09, .col .col010 {
	float: left;
	display: inline-block;
	clear: right;
	height:100%
}

.col .col1 {
	width: 8.33%
}
.col .col01 {
	width: 10%
}
.col .col2 {
	width: 16.66%
}
.col .col02 {
	width: 20%
}
.col .col2 {
	width: 16.66%
}
.col .col3 {
	width: 25%
}
.col .col03 {
	width: 30%
}
.col .col4 {
	width: 33.33%
}
.col .col04 {
	width: 40%
}
.col .col5 {
	width: 41.67%
}
.col .col05 {
	width: 50%
}
.col .col6 {
	width: 50%
}
.col .col06 {
	width: 60%
}
.col .col7 {
	width: 58.33%
}
.col .col07 {
	width: 70%
}
.col .col8 {
	width: 66.66%
}
.col .col08 {
	width: 80%
}
.col .col9 {
	width: 75%
}
.col .col09 {
	width: 90%
}
.col .col10 {
	width: 83.33%
}
.col .col010 {
	width: 100%
}
.col .col11 {
	width: 91.66%
}
.fr{
	float:right;
}
.fl{
	float:left;
}
.tr{
	text-align:right;
}
.tl{
	text-align:left;
}
.tc{
	text-align:center;
}
.mt15{
	margin-top:15px;
}
.mt30{
	margin-top:30px;
}
.mt60{
	margin-top:60px;
}
.wrap{
	min-width:320px;
	max-width:1410px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}
.t-son{
	font-family: '\5b8b\4f53','宋体', 'STSongti-TC-Regular',"Times New Roman",TimesNewRomanPSMT,arial,'Microsoft Yahei', sans-serif;
}
.btn_green{color:#FFF;}
.btn_green a{padding: 7px 25px;background: #637332;border-radius:25px;border: 1px solid #fff;}

