
footer .logo{background: url(/public/images/Z/logo-color.png)  no-repeat;display: inline-block;width: 90px;height: 109px;}
[class^="icon-"], [class*=" icon-"] {
	display: inline-block;width: 33px;height:33px;
}
